.fullscreen-site-navigation {
  //font-family: 'Press Start 2P', cursive;
  font-family: 'SilkscreenRegular', cursive;

  .nav-item {

    a {

      &:hover {
        opacity:0.6;
        transition:opacity .3s ease-in-out;
      }
    }
  }

  .fullscreen-mr-auto {

    @media screen and (max-width:991px) {
      margin-left: 0 !important;
      margin-right: auto !important;
    }
  }
  
  .mobile-navbar-collapse {
    @media screen and (max-width:991px) {
      position: absolute;
      width: 80vw;
      right: 0px;
      height: 100vh !important;
      top: 0px;
      background: rgb(7, 9, 53);
      //transition: transform .2s ease-in-out;
      
      ul {
        height: 100%;
        margin: 20px !important;
      }
      
      &.collapse.show {
        transition: .18s linear;
        transform: translateX(0%);
      }

      &.collapse ,
      &.collapsing {
          transition: .18s linear;
          transform: translateX(100%);
      }
    }
    
    @media screen and (min-width:400px) {
      width: 70vw;
    }
    
    @media screen and (min-width:520px) {
      width: 60vw;
    }
    
    @media screen and (min-width:650px) {
      width: 50vw;
    }
    
    @media screen and (min-width:768px) {
      width: 40vw;
    }
  }

  .fullscreen-mobile-nav-button {
    align-self: flex-end;
  }

  .navbar-toggler {

    background: none;
    border: none;
    cursor:pointer;
    z-index:10;

    /* remove the blue outline when active or focused */
    &:active, &:focus {
      outline: 0;
    }

    .icon-bar {
      display: block;
      width: 22px;
      height: 2px;
      border-radius: 1px;
      margin: 4px 0 4px 0;
      transition: all 0.2s;
      background:white;

      /* custom .navbar-dark .icon-bar background */
      .navbar-dark & {
        background: #ffffff;

      }

      /* .navbar open top .icon-bar rotated down 45° */
      &:nth-of-type(2) {
        transform: rotate(45deg);
        transform-origin: 10% 10%;
      }

      /* .navbar open middle .icon-bar invisible */
      &:nth-of-type(3) {
        opacity: 0;
        filter: alpha(opacity=0);
      }

      /* .navbar open bottom .icon-bar rotated up 45° */
      &:nth-of-type(4) {
        transform: rotate(-45deg);
        transform-origin: 10% 90%;
      }
    }

    /* styles for when .navbar is closed */
    &.collapsed {

      .icon-bar {

        /* .navbar closed top .icon-bar no rotation - straight */
        &:nth-of-type(2) {
          transform: rotate(0);
        }

        /* .navbar open middle .icon-bar visible */
        &:nth-of-type(3) {
          opacity: 1;
          filter: alpha(opacity=100);
        }

        /* .navbar open bottom .icon-bar no rotation - straight */
        &:nth-of-type(4) {
          transform: rotate(0);
        }

      }

    }
  }
  
}

// testing styling for wishlist 
.wrap {
  position: absolute;
  right: 200px;
  top: 2rem;


  li {
    position: relative;
    list-style: none;

    a {
      text-transform: uppercase;
      cursor: pointer;
      color: white;
      font-family: 'SilkscreenRegular', cursive;
    }

    .wishlistDropdown {
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 1000;
      display: none;
      float: left;
      min-width: 10rem;
      padding: .5rem 0;
      margin: .125rem 0 0;
      font-size: 1rem;
      color: #212529;
      text-align: left;
      list-style: none;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid rgba(0,0,0,.15);
      border-radius: .25rem;

      a {
        display: block;
        width: 100%;
        padding: .25rem 1.5rem;
        clear: both;
        font-weight: 400;
        color: #212529;
        text-align: inherit;
        white-space: nowrap;
        background-color: transparent;
        border: 0;
        text-decoration: none;
      }

    }

    .wishlistDropdown.show {
      display: block;
    }

  }

}

