/*-------------------------------------------------------------
Section 1
--------------------------------------------------------------*/
@import "section-1.scss";
/*-------------------------------------------------------------
Main Content
--------------------------------------------------------------*/
.main-content {
  background-image: linear-gradient(#f0bfb9, #dd676e 5%, #090b3e 10%, black);
  position:relative;
  height:100%;
//   height:4000px;
/*-------------------------------------------------------------
Section 2
--------------------------------------------------------------*/
@import "section-2.scss";
/*-------------------------------------------------------------
Section 3
--------------------------------------------------------------*/
@import "section-3.scss";
}