/*-------------------------------------------------------------
Individual graduate
--------------------------------------------------------------*/
.individual {
  @include step2v2( 4px, white, white );
  height: auto;
  background: white;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  padding: 1rem;
  padding: 0px;
  padding-top: 1rem;
  padding-bottom: 16px;
  
  .individual-flex-direction-column {
//     flex-direction:column;
  }

  .graduate {
//     display: flex;
//     flex-direction: row;
    
    .individual_attributes {
      margin-top:20px;
      margin-bottom:20px;
      //justify-content: center;
      align-items: center;
      
      .attribute_container {
        
        .attribute-skill-level {
          @include step1( 4px, black );
          background:red;
          margin:4px;
          position:relative;
          width:20px;
          height:20px;
          margin-bottom: 20px;
        }
      }
    }

    .image {
//       width: 50%;
//       display: flex;
//       flex-direction: column;
//       justify-content: space-between;

      img {
        width: 100%;
//         height: 500px;
      }

      ul {

        li {
          list-style: none;
          padding-bottom: 10px;
        }

      }

    }

    .text {
      width: 100%;
      height:100%;
      display: flex;
      flex-direction: column;
//       justify-content: space-between;
      padding: 8px;
      
      .individual-majors {
        display:flex;
      }
      
      .individual_body_text {
        @media screen and (max-width:600px) {
          font-size:14px;
        }
      }
      
      .name {
        
        @include step1( 4px, black );
        width: auto;
        height: auto;
        background: blue;
        position: relative;
        margin: 0;
        margin-right: 15px;
        
        h3 {
          color: white;
          font-size: 0.75rem;
          margin: 0.5rem;
          padding: 0;
          text-transform: uppercase;
          margin-top: 4px;
          margin-bottom: 4px;
          margin-left: 8px;
          margin-right: 8px;
        }
      }
      
      #digital_design {
        background: blue !important;
      }

      #animation_and_game_design {
        background: green !important;
      }

      #graphic_design {
        background: red !important;
      }

      #creative_advertising {
        background: orange !important;
      }

      #illustration {
        background: purple !important;
      }
      
      .h3-title {
        font-size:2rem;
        margin-top: 40px;
        margin-bottom: 20px;
      }

      .major {
        display: flex;
        align-items: center;
        flex-direction: row;

        .dg {
          @include step1( 4px, black );
          margin: 0 20px 0 0;
          width: auto;
          height: auto;
          background: blue;
          position: relative;

          h3 {
            color: white;
            font-size: 0.75rem;
            margin: 0.5rem;
            padding: 0;
            text-transform: uppercase;
          }

        }

        .gd {
          @include step1( 4px, black );
          margin: 0 20px 0 0;
          width: auto;
          height: auto;
          background: red;
          position: relative;

          h3 {
            color: white;
            font-size: 0.75rem;
            margin: 0.5rem;
            padding: 0;
            text-transform: uppercase;
          }

        }

      }

      .links {
        margin-top: auto;
//         display: flex;
//         flex-direction: row;
        margin-bottom: 20px;

        .social {
//           width: 50%;
          text-align: left;
          
          @media screen and (max-width:773px) {
            text-align:center;
            margin-bottom: 20px;
          }

          ul {
            margin: 0;
            padding: 0;

            li {
              list-style: none;
              display: inline-block;
              padding-right: 10px;

              a {

                font-size: 40px;

              }

            }

          }

        }

        .portfolio {
//           width: 50%;
          text-align: right;
          
          @media screen and (max-width:773px) {
            text-align:center;
          }

          input[type="button"] {
            @include step1( 4px, black );
            width: 170px;
            height: 40px;
            background: blue;
            position: relative;
            border: none;
            cursor:pointer;
            color: white;
            outline:0;
            
            @media screen and (max-width:773px) {
              width:100%;
            }
            
            &:hover {
              transform:translateY(-1px);
              transition:transform .1s ease-in-out;
            }
          }

        }

      }

    }

  }

  .projects {
    
    .image-cols {
      margin-bottom:20px;
    }

    img {
      width: 100%;
      height: auto;
//       margin: 1rem;
    }

  }

}