/*-------------------------------------------------------------
Section x / Page - Heading Content
Section 3 / Home - About Content
--------------------------------------------------------------*/
$outline-width: 6px;
$shadow-width: 4px;

$button-background: #92CD41;
$sec-button-background: #76c442;
$shadow-color:  #4AA52E;

$alt-button-background: #F7D51D;
$alt-sec-button-background: #F2C409;
$alt-shadow-color:  #E59400;

$reset-button-background: #E76E55;
$reset-sec-button-background: #CE372B;
$reset-shadow-color:  #8C2022;

.section-3-moon {
  position:absolute;
  width:300px;
  right:40px;
  bottom: -120px;
  -webkit-animation: float-animation 3s infinite; /* Safari 4.0 - 8.0 */
  animation: float-animation 3s infinite;
  transition:opacity 1s ease-in-out;

  @keyframes float-animation {
    0%   {transform:translateY(0%);}
    50%  {transform:translateY(5%);}
    100% {transform:translateY(0%);}
  }
  
  @media screen and (max-width:800px) {
    opacity:0;
  }
}

.section-3-about {
//   min-height: 700px;
//   max-height: 800px;
//   height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position:relative;
  
  .section-3 {
  
    .section-3-content {
      //height: 500px;
      border:10px solid white;
      position: relative;
      border-top: none;
      border-bottom: none;
      margin-top: 80px;
      margin-bottom: 80px;
      
//       @media screen and (min-width:768px) {
//         margin-top: 60px;
//         margin-bottom: 60px;
//       }
      
//       @media screen and (min-width:992px) {
//         margin-top: 80px;
//         margin-bottom: 80px;
//       }
      
      @media screen and (min-width:1200px) {
        margin-top: 100px;
        margin-bottom: 100px;
      }
      
      .top-left {
        position: absolute;
        top: -10px;
        left: 0px;
        height: 10px;
        width: 10px;
        background: white;
      }
      
      .top {
        position: absolute;
        height: 10px;
        width: calc(100% - 20px);
        top: -20px;
        left: 10px;
        background: white;
      }
      
      .top-right {
        position: absolute;
        top: -10px;
        right: 0px;
        height: 10px;
        width: 10px;
        background: white;
      }
      
      .about-content {
        position: relative;
        padding: 0rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;
        padding: 60px;
        
        .contact-message {
          height:200px;
          width: 100%;
          border: none;
          @include step2v2( 4px, white, white );
          margin: 2rem auto;
          margin-top: 1rem;
          margin-bottom: 2rem;
          outline:none;
          padding-top: 8px;
        }
        
        h3 {
              font-family: "SilkscreenBold",cursive !important;
        }
        
        @media screen and (max-width:400px) {
          padding:20px;
          padding-top: 40px;
        }
        
        @media screen and (max-width:300px) {
          
          p {
            font-size:14px;
          }
        }
        
        h1 {
          color: white;
          
          @media screen and (max-width:500px) {
            font-size: 7vw;
            line-height: 2;
          }
        }
        
        h3 {
          color: white;
          position: absolute;
          top: -32px;
          left: 50px;
          padding-left: 1rem;
          padding-right: 1rem;
          
          @media screen and (max-width:600px) {
            font-size: 1rem;
            line-height: 2;
            left:auto;
          }
          
          @media screen and (max-width:400px) {
            top:0px;
          }
        }
        
        .h3-about {
          //background: #1c1342;
//           background: #090a3d;
          background: #070833;
          
          @media screen and (min-width:400px) {
//             background: linear-gradient(#351e48, #09093d);
            background: linear-gradient(#080937, #070936);
          }
          
          @media screen and (min-width:576px) {
            background: #090a3c;
          }
        }
        
        .h3-date {
          background:black;
          
          @media screen and (min-width:576px) {
            background:#04061d;
          }
        }
        
        .h3-contact {
          background:black;
        }
        
        p,h6 {
          color: white;
        }
        
        form {
          width: 90%;

          input {
            width: 100%;
            height: 50px;
            border: none;
            @include step2v2( 4px, white, white );
            margin: 2rem auto;
            margin-top: 1rem;
            margin-bottom: 2rem;
            outline:none;
          }

          button {
            background: $button-background;
            display: inline-block;
            position: relative;
            text-align: center;
            font-size: 16px;
            padding: 12px 24px;
            font-family: 'SilkscreenRegular', cursive;
            text-decoration: none; 
            color: white;
            float: right;
            cursor: pointer;
            box-shadow: inset (-$shadow-width) (-$shadow-width) 0px 0px $shadow-color;

              &:hover,
              &:focus {
                background: $sec-button-background;
                box-shadow: inset (-$shadow-width*1.5) (-$shadow-width*1.5) 0px 0px $shadow-color;
                  }

              &:active {
                box-shadow: inset $shadow-width $shadow-width 0px 0px $shadow-color;
                }

              &:before,
              &:after {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                box-sizing: content-box;
                }

              &:before {
                top: -$outline-width;
                left: 0;
                border-top: $outline-width black solid;
                border-bottom: $outline-width black solid;
                }

              &:after {
                left: -$outline-width;
                top: 0;
                border-left: $outline-width black solid;
                border-right: $outline-width black solid;
                }

              &--reset {
                background: $reset-button-background;
                box-shadow: inset (-$shadow-width) (-$shadow-width) 0px 0px $reset-shadow-color;

                  &:hover,
                  &:focus {
                    background: $reset-sec-button-background;
                    box-shadow: inset (-$shadow-width*1.5) (-$shadow-width*1.5) 0px 0px $reset-shadow-color;
                      }

                  &:active {
                    box-shadow: inset $shadow-width $shadow-width 0px 0px $reset-shadow-color;
                    }

                  }

              &--proceed {
                background: $alt-button-background;
                box-shadow: inset (-$shadow-width) (-$shadow-width) 0px 0px $alt-shadow-color;

                  &:hover,
                  &:focus {
                    background: $alt-sec-button-background;
                    box-shadow: inset (-$shadow-width*1.5) (-$shadow-width*1.5) 0px 0px $alt-shadow-color;
                      }

                  &:active {
                    box-shadow: inset $shadow-width $shadow-width 0px 0px $alt-shadow-color;
                    }

                  }

          }

        }
        
      }
      
      .bottom-left {
        position: absolute;
        bottom: -10px;
        left: 0px;
        height: 10px;
        width: 10px;
        background: white;
      }
      
      .bottom {
        position: absolute;
        height: 10px;
        width: calc(100% - 20px);
        bottom: -20px;
        left: 10px;
        background: white;
      }
      
      .bottom-right {
        position: absolute;
        bottom: -10px;
        right: 0px;
        height: 10px;
        width: 10px;
        background: white;
      }

    }
  
  }
  
}

.graduate-content {
  position: relative;
  padding: 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 100%;
  padding-top: 20px;
  
  h3 {
        font-family: "SilkscreenBold",cursive !important;
  }
  
  .graduates-margin-outer {
    @media screen and (min-width:1200px) {
      margin-left:15px;
      margin-right:15px;
    }
  }
  
  .graduates-margin-bottom {
    margin-bottom:30px;
    margin-top:30px;
    
    a {
      position:relative;
      
      &:hover {
        
        > div {
          transform:translateY(-1px);
          opacity:0.8;
          transition:all .1s ease-in-out;
        }
        
      }
    }
    
    @media screen and (min-width:992px) {
      margin-bottom:60px;
    }
    
    @media screen and (min-width:992px) {
      margin-bottom:40px;
    }
  }
  
  h3 {
    color: white;
    position: absolute;
    top: -32px;
    left: 50px;
    //background: #07072d;
    padding-left: 1rem;
    padding-right: 1rem;
    
    background:#070933;
          
    @media screen and (min-width:576px) {
      background: #07072d;
    }
    
    @media screen and (max-width:600px) {
      font-size: 1rem;
      line-height: 2;
      left:auto;
    }

    @media screen and (max-width:400px) {
      top:0px;
    }
  }
  
  .major {
    //border:10px solid white;
    position: relative;
    border-top: none;
    border-bottom: none;
    //width: 100%;
    height: 100px;
    max-width: 200px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 70px;
    
    @media screen and (min-width:1200px) {
      //margin: 1rem;
    }

    .top-left {
      position: absolute;
      top: -10px;
      left: 0px;
      height: 10px;
      width: 10px;
      background: white;
      background: none !important;
    }

    .top {
      position: absolute;
      height: 10px;
      width: calc(100% - 20px);
      top: -20px;
      left: 10px;
      background: white;
      background: none !important;
    }

    .top-right {
      position: absolute;
      top: -10px;
      right: 0px;
      height: 10px;
      width: 10px;
      background: white;
      background: none !important;
    }
    
    .major-icon {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      
      img {
        width: 75%;
        height: 75%;
        max-width:100px;
      }
       
    }
    
    h4 {
      color: white;
      font-size: .6rem;
      margin-top: 3rem;
      text-align: center;
      
      @media screen and (min-width:1200px) {
        font-size: .8rem;
      }
    }

    .bottom-left {
      position: absolute;
      bottom: -10px;
      left: 0px;
      height: 10px;
      width: 10px;
      background: white;
      background: none !important;
    }

    .bottom {
      position: absolute;
      height: 10px;
      width: calc(100% - 20px);
      bottom: -20px;
      left: 10px;
      background: white;
      background: none !important;
    }

    .bottom-right {
      position: absolute;
      bottom: -10px;
      right: 0px;
      height: 10px;
      width: 10px;
      background: white;
      background: none !important;
    }

  }
  
  .top-left {
    position: absolute;
    top: -10px;
    left: 0px;
    height: 10px;
    width: 10px;
    background: white;
  }

  .top {
    position: absolute;
    height: 10px;
    width: calc(100% - 20px);
    top: -20px;
    left: 10px;
    background: white;
  }

  .top-right {
    position: absolute;
    top: -10px;
    right: 0px;
    height: 10px;
    width: 10px;
    background: white;
  }

  .bottom-left {
    position: absolute;
    bottom: -10px;
    left: 0px;
    height: 10px;
    width: 10px;
    background: white;
  }

  .bottom {
    position: absolute;
    height: 10px;
    width: calc(100% - 20px);
    bottom: -20px;
    left: 10px;
    background: white;
  }

  .bottom-right {
    position: absolute;
    bottom: -10px;
    right: 0px;
    height: 10px;
    width: 10px;
    background: white;
  }
  
}