.showreel-page {
  
  iframe {
    width:100%;
    height:400px;
    
    @media screen and (min-width:768px) {
      height:400px;
    }
    
    @media screen and (min-width:992px) {
      height:500px;
    }
    
    @media screen and (min-width:1200px) {
      height:600px;
    }
  }
  
  .showreel-filter {
    margin-bottom:40px;
    font-family: 'SilkscreenRegular', cursive;
    
    a {
      color:white;
      margin-right:8px;
      
      &:hover {
        text-decoration:none;
        opacity:0.8;
      }
    }
    
    h1 {
      color:white;
    }
  }
  
  .showreel-checkbox {
    color:white;
    margin-right: 20px;
    
    &:hover {
      cursor:pointer;
      transform:translateY(-1px);
      transition:all .1s ease-in-out;
      opacity:0.8;
    }
    
//     &:after {
//       display: inline-block;
//       width: 0;
//       height: 0;
//       margin-left: .255em;
//       vertical-align: .255em;
//       content: "";
//       border-top: .3em solid;
//       border-right: .3em solid transparent;
//       border-bottom: .3em solid;
//       border-left: .3em solid transparent;
//     }
  }
  
  .showreel-filter-divider {
    display: inline-block;
    height: 16px;
    width: 2px;
    top: 2px;
    background: #fff;
    position: relative;
    margin-right: 20px;
  }
}